{% extends 'base.html' %}

{% block content %}


    <div class="panel panel-default">
        <div class="panel-heading">
            Itens para doação
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Status</th>
                        <th>Categoria</th>
                        <th>Doador</th>
                        <th></th>
                        <th></th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for item in itens %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.description }}</td>
                        <td>{{ item.status }}</td>
                        <td>{{ item.category }}</td>
                        <td>{{ item.donor }}</td>
                        <td>
                            <a href="#" class="active">
                                <i class="fa fa-trash-o fa-fw " data-toggle="modal" data-target="#confirmDeleteItemModal"></i>
                            </a>
                        </td>


                        <!-- Modal -->
                        <div class="modal fade" id="confirmDeleteItemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">CONFIRMAÇÃO</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                Deseja excluir o item "{{item.name}}" ?
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                  <a href="{% url 'delete_item' item.id %}">
                                      <button type="submit" class="btn btn-primary">Excluir</button>
                                  </a>

                              </div>
                            </div>
                          </div>
                        </div>


                        <td>
                            <a href="{% url 'update_item' item.id %}" class="active">
                                <i class="fa fa-edit fa-fw"></i>
                            </a>
                        </td>


                    </tr>
                    {% endfor %}


                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
    </div>

{% endblock %}
