{% extends 'base.html' %}

{% block content %}

    <br>
    <br>

    <div class="panel-default">

        <!-- /.panel-heading -->
        <div class="panel-body">
            <input class="form-control" id="searchfield" type="text" placeholder="Search..">

            <br>
            <br>

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Doador</th>
                        <th>Categoria</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>


                    <tbody id="itemList">
                    {% for donation in donations %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ donation.item.name }}</td>
                        <td>{{ donation.item.donor }}</td>
                        <td>{{ donation.item.category }}</td>


                        <td>
                            <a href="#" class="active">
                                <i class="fa fa-search-plus fa-fw" title="Ver" data-toggle="modal" data-target="#verItemModal"></i>
                            </a>
                        </td>

                        <!-- Modal -->
                        <div class="modal fade" id="verItemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">{{ item.name }}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Nome: {{ donation.item.name }}</p>
                                        <p>Categoria: {{ donation.item.category }}</p>
                                        <p>Doador: {{ donation.item.donor }}</p>
                                        <p>Descrição: {{ donation.item.description }}</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-success" data-dismiss="modal">
                                            Fechar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>



                        {% if donation.item.donor == user %}
                             <td>
                                <a href="{% url 'update_item' donation.item.id %}" class="active">
                                    <i class="fa fa-edit fa-fw" title="Editar"></i>
                                </a>
                             </td>
                        {% endif %}

                         {% if donation.item.donor != user %}
                             <td>
                                 <a href="{% url 'send_message' donation.item.id donation.id %}" class="active">
                                    <i class="fa  fa-send-o fa-fw" title="Enviar interesse"></i>
                                 </a>

                             </td>
                        {% endif %}





                    </tr>
                    {% endfor %}


                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
    </div>







    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#searchfield").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#itemList tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                 });
            });
        });
    </script>





{% endblock %}
